/*login modal*/
#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  border-style: double;
  border-color: rgb(217, 222, 225);
  background-color: #F0E9E9;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  width: auto;
  max-width: 50vh;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login-container h2 {
  color: black;
  margin-top: 3rem;
  font-weight: bold;
  font-size: xx-large;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin-top: 3rem;
}

#login-input {
  display: flex;
  flex-direction: column;
}

#login-input input {
  color: black;
  height: 3vh;
  width: 35vh;
  margin: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  border-bottom-style: double;
  border-bottom-color: rgb(217, 222, 225);
  border-right-style: double;
  border-right-color: rgb(217, 222, 225);
  background-color: whitesmoke;
  font-size: 1rem;
}

#login-input input:focus {
  outline-color: rgb(184, 188, 190);
  border-width: 0.2rem;
  box-shadow: 0 0 0.3125rem rgb(107, 110, 111);
  caret-color: gray
}

#login-form button {
  border-style: none;
  border-radius: 0.5rem;
  border-bottom-style: double;
  border-bottom-color: rgb(217, 222, 225);
  border-right-style: double;
  border-right-color: rgb(217, 222, 225);
  width: 5rem;
  height: 2.2rem;
  font-weight: bold;
  font-size: 17px;
  color: #aaa;
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#login-form button:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  border-bottom-color: rgb(197, 201, 203);
  border-right-color: rgb(197, 201, 203);
}

@media (max-width: 768px) {
  #login-container {
    width: 90%;
    max-width: 90%;
    margin: 2rem auto;
    padding: 1rem;
  }

  #login-input input {
    width: 80%;
    font-size: 1rem;
    margin: 0.5rem auto;
  }

  #login-form {
    width: 100%;
  }

  #login-form button {
    width: 60%;
    font-size: 1rem;
  }
}